## Build
# build/
# dist/
# lib/

## Environment
# .env.development.local
# .env.production.local
# .env.test.local
# .env.local
# .env

## Folders
# .dump/
# coverage/
# tools/

## Project
.next/
# .vercel/

## Node.js
node_modules/

## Packagers
# npm*.log
yarn*.log

## Visual Studio Code
# *.code-workspace
# .vscode/
